{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Home/home.css'], name: 'home.css'}) }}
{% endblock %}

{% block content %}
    <div class="sub-header col-md-12 col-sm-12">
        <h1 class="header-center">{{ __('Dark Raven') }}</h1>
        <img src="public/images/dark-raven-logo-2-gross.png" alt="Dark Raven logo" class="header-image col-md-8 col-md-offset-2 col-sm-12">
    </div>
    <div class="join-us col-md-8 col-md-offset-1 col-sm-12">
        <h3>{{ __('Join us!') }}</h3>
        <p>{{ __('We have a Discord server!') }}</p>
    </div>
    <iframe src="https://discordapp.com/widget?id=312701240385601547&theme=dark" height="400"
            allowtransparency="true" frameborder="0" class="col-md-2 discord-frame col-sm-12"></iframe>
{% endblock %}
