{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Home/home.css'], name: 'home.css'}) }}
{% endblock %}

{% block content %}
<h1>{{ __('Tekk\'s homepage') }}</h1>
{% endblock %}
