{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Home/home.css'], name: 'home.css'}) }}
{% endblock %}

{% block content %}
    <h1>{{ __('Tekk\'s homepage') }}</h1>
    {% if user.username %}
        <h3>{{ __('Welcome, %s', user.username ) }}</h3>
    {% else %}
        <h3>{{ __('Welcome, Guest' ) }}</h3>
    {% endif %}
{% endblock %}
