.header-center {
    padding-top: 5%;
    text-align: center;
}

.sub-header {
    height: 500px;
}

.join-us {
    padding-top: 20px;
}

.discord-frame {
    margin-top: 20px;
    margin-bottom: 80px;
}

@media only screen and (max-width: 790px) {
    .sub-header {
        height: 250px;
    }
    .join-us {
        padding-top: 0;
        text-align: center;
    }
    .discord-frame {
        justify-content: center;
    }
}