{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Home/home.css'], name: 'home.css'}) }}
{% endblock %}

{% block content %}
<h1>{{ __('Slim template') }}</h1>
<div class="cssIsAwesomeBox">
    <p class="cssIsAwesomeText">CSS IS AWESOME</p>
</div>
{% endblock %}
