.header-center {
    padding-top: 5%;
    text-align: center;
    font-size: 12em;
    color: #222222;
}

.sub-header {
    height: 500px;
}

.join-us {
    padding-top: 20px;
}

.discord-frame {
    margin-top: 20px;
    margin-bottom: 80px;
}