{{#users}}
	<tr data-id="{{id}}">
		<td>{{id}}</td>
		<td>{{username}}</td>
		<td>{{first_name}}</td>
		<td>{{last_name}}</td>
		<td>{{email}}</td>
		<td data-name="role" data-target="#role-modal" id="{{id}}" data-toggle="modal">{{role_name}}</td>
	</tr>
{{/users}}
